@import '../../assets/fonts/fonts';
@import '../../assets/variables';
@import '../../assets/mixins';

.orderpage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 64px;

    @media (max-width: 1150px) {
      flex-direction: column;
    }

    @media (min-width: $min-desktop) and (max-width: $max-desktop) {
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 32px;
    }

    @media (max-width: $max-mobile) {
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
    }
  }

  &__orderMake {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-top: 32px;
    min-height: fit-content;
  }
}