@import '../../assets/fonts/fonts';
@import '../../assets/variables';
@import '../../assets/mixins';

.orderpage {
  &__choiceLocation {
    @include Roboto-light;
    color: $color-main;
    font-size: 14px;
    line-height: 16px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: $max-mobile) {
      width: 288px;
    }
  }

  &__input {
    position: relative;
    margin-left: 8px;
    padding-left: 8px;
    width: 216px;
    height: 24px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid $color-main;

    @media (max-width: $max-mobile) {
      width: 184px;
    }

    &::placeholder {
      color: $color-additional-dark;
    }

    &::after {
      content: '\2716';
      position: absolute;
      right: 8px;
      color: $color-main;
    }
  }

  &__map {
    margin-top: 40px;
    max-width: 100%;
    @include Roboto-light;
    font-size: 14px;
    line-height: 16px;
    color: $color-main;

    & > p {
      margin-top: 0;
      margin-bottom: 16px;
    }

    & > img {
      width: 100%;
    }
  }

  &__orderState {
    padding-top: 32px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid $color-additional-light;

    @media (max-width: 1150px) {
      padding-left: 0;
      border-left: none;
    }
  }

  &__h2 {
    margin-top: 0;
    margin-bottom: 24px;
    @include Roboto-medium;
    font-size: 18px;
    line-height: 21px;
    text-align: right;

    @media (max-width: 1150px) {
      text-align: left;
    }
  }

  &__detailes {
    @include Roboto-light;
    font-size: 14px;
    line-height: 16px;
  }

  &__orderOption {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 16px;
  }

  &__optionName {
    margin: 0;
    color: $color-main;
  }

  &__optionDivider {
    flex-grow: 1;
    border-bottom: 1px dotted $color-additional-dark;
    margin-left: 8px;
    margin-right: 8px;
  }

  &__optionValue {
    margin: 0;
    max-width: 104px;
    color: $color-additional-dark;
  }

  &__price {
    @include Roboto-medium;
    font-size: 16px;
    line-height: 16px;
    color: $color-main;
  }

  &__priceValue {
    @include Roboto;
  }
}

.radioInputs {
  @include Roboto-light;
  font-size: 14px;
  line-height: 16px;

  &_col {
    display: flex;
    flex-direction: column;
  }

  &__label > &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:not(:disabled):active + span::before {
      box-shadow: inset 0 0 4px 0.2rem $color-accent;
    }

    &:focus + span::before {
      box-shadow: inset 0 0 3px 0.2rem $color-accent;
    }

    &:checked + span::before {
      box-shadow: inset 0 0 0 0.2rem $color-accent;
    }

    &:checked + span {
      color: $color-main;
    }
  }

  &__label > span {
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: 8px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    color: $color-additional-dark;
    transition: all $animation-speed $animation-type;

    &::before {
      content: '';
      cursor: pointer;
      display: inline-block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $color-additional-dark;
      border-radius: 50%;
      margin-right: 0.5em;
      margin-bottom: 1px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      transition: all $animation-speed $animation-type;
    }
  }
}

.checkboxInputs {
  @include Roboto-light;
  font-size: 14px;
  line-height: 16px;

  &_col {
    display: flex;
    flex-direction: column;
  }

  &__label > &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + span::before {
      border-color: $color-accent;
    }

    &:checked + span::after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.625 3.33333L0 5L4.875 10L13 1.66667L11.375 0L4.875 6.66667L1.625 3.33333Z' fill='%23121212'/%3e%3c/svg%3e ");
    }

    &:not(:checked) + span::before {
      box-shadow: none;
    }

    &:checked + span {
      color: $color-main;
    }
  }

  &__label > span {
    position: relative;
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: 8px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    color: $color-additional-dark;
    transition: all $animation-speed $animation-type;

    &::before {
      content: '';
      cursor: pointer;
      display: inline-block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $color-additional-dark;
      margin-right: 0.5em;
      margin-bottom: 1px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      transition: all $animation-speed $animation-type;
    }

    &::after {
      content: '';
      cursor: pointer;
      position: absolute;
      bottom: 5px;
      left: 4px;
      display: inline-block;
      z-index: 1;
      flex-shrink: 0;
      flex-grow: 0;
      width: 13px;
      height: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      transition: all $animation-speed $animation-type;
    }
  }
}

.catalogue {
  padding-top: 48px;
  max-width: 738px;
  display: flex;
  flex-wrap: wrap;
  @include Roboto;

  & > label {
    flex-grow: 1;
  }

  &__carInput {
    display: none;
  }

  &__car {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
    min-height: 224px;
    border: 1px solid $color-additional-light;
    transition: border $animation-speed $animation-type;

    &:hover {
      border: 1px solid $color-additional-dark;
    }
  }

  &__carInput:checked + &__car {
    border: 1px solid $color-accent;
  }

  &__model {
    margin: 0;
    color: $color-main;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__price {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: $color-additional-dark;
  }

  &__view {
    max-width: 256px;
    align-self: flex-end;
    justify-self: end;
  }

  &__img {
    max-width: 100%;
  }

  &__licencePlate {
    margin: 8px 0;
    padding: 4px 8px;
    @include Roboto;
    font-size: 14px;
    line-height: 16px;
    color: $color-main;
    width: fit-content;
    border: 1px solid $color-additional-dark;
    border-radius: 4px;
  }

  &__option {
    margin: 8px 0;
    @include Roboto-bold;
    color: $color-main;
    &Value {
      @include Roboto-light;
    }
  }
}

.sectionName {
  margin-top: 0;
  margin-bottom: 16px;
  @include Roboto-light;
  font-size: 14px;
  line-height: 16px;
  color: $color-main;

  & ~ & {
    margin-top: 32px;
  }

  & + .textInputs {
    @include Roboto-light;
    color: $color-main;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 250px;

    & > label > .orderpage__input {
      width: 224px;

      @media (max-width: $max-mobile) {
        width: 224px;
      }
    }
  }
}

.orderSummury {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 736px;
}
