@import '../../assets/fonts/fonts';
@import '../../assets/variables';
@import '../../assets/mixins';

.header {
  display: flex;
  justify-content: space-between;

  @media (max-width: $max-mobile) {
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    padding-top: 16px;
    padding-right: 16px;
  }

  &__logo {
    @include Roboto-bold;
    font-size: 30px;
    line-height: 35px;
  }

  &__linkHome {
    color: $color-accent;
    cursor: pointer;
    text-decoration: none;
  }

  &__location {
    display: flex;
    align-items: center;

    &:hover path {
      stroke: $color-accent;
    }

    &:hover .header__city {
      color: $color-accent;
    }

    @media (max-width: $max-mobile) {
      margin-top: 8px;
    }
  }

  &__city {
    margin-left: 8px;
    @include Roboto;
    color: $color-additional-dark;
    font-size: 14px;
    line-height: 16px;
  }
}