@import '../../assets/fonts/fonts';
@import '../../assets/variables';
@import '../../assets/mixins';

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 64px;
  background-color: $nav-bg-color;

  @media (min-width: $min-tablet) and (max-width: $max-tablet) {
    width: 88px;
  }

  @media (max-width: $max-mobile) {
    position: absolute;
    background: none;
    height: fit-content;
  }

  &__toggle {
    display: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 15;

    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      width: 40px;
    }

    @media (max-width: $max-mobile) {
      top: 16px;
    }
  }

  &__hamburger,
  &__hamburger::before,
  &__hamburger::after {
    display: block;
    position: absolute;
    width: 32px;
    height: 3px;
    border-radius: 4px;
    transition-duration: $animation-speed;
    background-color: $base-txt-color;

    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      width: 40px;
    }

    @media (max-width: $max-mobile) {
      width: 24px;
      background-color: $color-main;
    }
  }

  &__hamburger::before {
    content: '';
    top: -8px;
  }

  &__hamburger::after {
    content: '';
    top: 8px;
  }

  &__toggle:checked ~ &__btn > &__hamburger {
    transform: rotate(45deg);

    @media (max-width: $max-mobile) {
      background-color: $base-txt-color;
    }
  }

  &__toggle:checked ~ &__btn > &__hamburger::before {
    top: 0;
    transform: rotate(0);

    @media (max-width: $max-mobile) {
      background-color: $base-txt-color;
    }
  }

  &__toggle:checked ~ &__btn > &__hamburger::after {
    top: 0;
    transform: rotate(90deg);

    @media (max-width: $max-mobile) {
      background-color: $base-txt-color;
    }
  }

  &__toggle:checked ~ &__wrapper {
    padding-left: 128px;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background: linear-gradient(
      to right,
      $nav-open 51vw,
      rgba(21, 27, 31, 0.81) 51vw
    );
    transition: width $animation-speed $animation-type;

    @media (min-width: $min-desktop) and (max-width: $max-desktop) {
      background: linear-gradient(
        to left,
        rgba(21, 27, 31, 0.81) 410px,
        $nav-open 410px
      );
    }

    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      background: $nav-open;
      padding-left: 96px;
      transition: all $animation-speed $animation-type;
    }

    @media (max-width: $max-mobile) {
      background: $nav-open;
      padding-left: 32px;
      padding-top: 80px;
      justify-content: flex-start;
      transition: all $animation-speed $animation-type;
    }
  }

  &__toggle:checked ~ &__wrapper .menu {
    display: flex;
    opacity: 1;
    transition: all $animation-speed $animation-type;
  }

  &__toggle:checked ~ &__wrapper .social {
    display: flex;
  }
  &__toggle:checked ~ .langBtn {
    z-index: 5;
    @media (max-width: $max-mobile) {
      display: block;
      z-index: 15;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: width $animation-speed $animation-type;

    @media (max-width: $max-tablet) {
      transition: all $animation-speed $animation-type;
    }
  }
}

.menu {
  display: none;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  opacity: 0;
  padding: 0;
  margin: 0;

  &__item {
    display: block;
    text-transform: uppercase;
    @include Roboto-medium;
    font-size: 32px;
    line-height: 2;

    @media (min-width: $min-tablet) and (max-width: $max-tablet) {
      font-size: 28px;
    }

    @media (max-width: $max-mobile) {
      font-size: 22px;
    }
  }

  &__link {
    color: $base-txt-color;
    text-decoration: none;
  }

  &__link:hover {
    color: $color-accent;
  }
}

.social {
  display: none;
  position: absolute;
  bottom: -40px;
  justify-content: space-between;
  width: 144px;
  height: 32px;

  a object:hover {
    fill: $color-accent;
  }

  &__link:hover path {
    fill: $color-accent;
  }
}

.langBtn {
  position: absolute;
  z-index: 15;
  bottom: 22px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 100%;
  @include Roboto-bold;
  font-size: 13px;
  line-height: 15px;
  color: $color-accent;
  background: none;
  outline: none;

  @media (max-width: $max-mobile) {
    display: none;
    left: 16px;
    transform: none;
    bottom: 16px;
  }

  &:hover {
    color: $base-txt-color;
    border: 1px solid $base-txt-color;
    transition: color $animation-speed $animation-type;
  }

  &:active {
    color: $color-accent;
  }
}
