@import '../../assets/fonts/fonts';
@import '../../assets/variables';
@import '../../assets/mixins';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px 32px 64px;

  @media (min-width: $min-desktop) and (max-width: $max-desktop) {
    padding: 32px;
  }

  @media (max-width: $max-mobile) {
    flex-direction: column-reverse;
    align-items: flex-end;
    background: $nav-bg-color;
    padding: 16px;
  }

  &__copywrite {
    @include Roboto;
    font-size: 13px;
    line-height: 15px;
    color: $color-additional-dark;

    @media (max-width: $max-mobile) {
      color: $base-txt-color;
    }
  }

  &__phone {
    @include Roboto;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
    color: $color-main;

    @media (max-width: $max-mobile) {
      color: $color-accent;
      margin-bottom: 8px;
    }

    &:hover,
    &:active {
      color: $color-accent;

      @media (max-width: $max-mobile) {
        color: $base-txt-color;
      }

    }
  }
}