$color-accent: #0EC261;
$color-main: #121212;
$color-additional-dark: #999999;
$color-additional-light: #EEEEEE;

$base-txt-color: #FFFFFF;

$nav-bg-color: #151B1F;
$nav-open: #111518;

$animation-speed: 0.5s;
$animation-type: ease-out;

$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1023px;
$min-desktop: 1024px;
$max-desktop: 1439px;
$min-huge-desktop: 1440px;