$color-accent: #0EC261;
$color-main: #121212;
$color-additional-dark: #999999;
$color-additional-light: #EEEEEE;

$base-txt-color: #FFFFFF;

$nav-bg-color: #151B1F;
$nav-open: #111518;

$animation-speed: 0.5s;
$animation-type: ease-out;